<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="generalForm">
    <form [formGroup]="generalForm" class="general-form">
      <ng-template matStepLabel>Fill out your general info</ng-template>
      <div>
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Surname</mat-label>
          <input matInput formControlName="surname" required>
        </mat-form-field>
      </div>

      <section class="categories">
        <h4>Choose fields you'd like to get jobs in:</h4>
        <div *ngFor="let category of categories$ | async">
          <mat-checkbox [value]="category" (change)="onCheckChange($event)">{{category | titlecase}}</mat-checkbox>
        </div>
      </section>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="detailsForm">
    <form [formGroup]="detailsForm">
      <ng-template matStepLabel>Fill out verification details</ng-template>
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="my@example.com"
                required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Phone (11 digits)</mat-label>
          <input matInput formControlName="phone" placeholder="12345678900"
                required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" placeholder="Ex. 1 Main St, New York, NY"
                required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Citizen Id (5 digits)</mat-label>
          <input matInput formControlName="citizenId" placeholder="12345"
                required>
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="finalForm">
      <ng-template matStepLabel>Almost done</ng-template>
      <div>
        <mat-form-field>
          <mat-label>Password (6 chars min)</mat-label>
          <input matInput formControlName="password"
                required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Confirm password</mat-label>
          <input matInput formControlName="confirmPassword"
                required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button class="submit-btn" (click)="onSubmit()">Register!</button>

      </div>
    </form>

  </mat-step>
</mat-horizontal-stepper>
