<header class = "header">
  <div class="container">
    <span class = "logo">
      <a
        routerLink="/home"
        routerLinkActive="active">
      ACE
    </a></span>

    <nav class="navbar">
      <ul>
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active">
            <span>Home</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/professionals"
            routerLinkActive="active">
            <span>Professionals</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/jobs"
            routerLinkActive="active">
            <span>Jobs</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/partners"
            routerLinkActive="active">
            <span>Partners</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="registration">
      <span>Sign </span> <span class="btn">up</span> / <span class="btn" (click)="openSignInDialog()">in</span>
    </div>
  </div>

</header>

