<header class = "header">
  <div class="container">
    <h1 class = "logo">ACE</h1>

    <nav class="navbar">
      <ul class="navbar__nav">
        <li class="navbar__item">
          <a class="navbar__link"
            routerLink="/home"
            routerLinkActive="active">
            Home
          </a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link"
            routerLink="/professionals"
            routerLinkActive="active">
            Professionals
          </a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link"
            routerLink="/jobs"
            routerLinkActive="active">
            Jobs
          </a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link"
            routerLink="/partners"
            routerLinkActive="active">
            Partners
          </a>
        </li>
      </ul>
    </nav>
    <div class="registration">
      <span>Sign </span> <a>up</a> / <a>in</a>
    </div>
  </div>

</header>

